* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.first {
  width: 99vw;
  height: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;
}
.second {
  width: 100vw;
  height: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;
}
.start {
  color: green;
  cursor: pointer;
}
.end {
  color: blue;
  cursor: pointer;
}
